html, body {
    border: 0;
    margin: 0;
    padding: 0;
    min-height: 100%;
}

body {
    background: #232332;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 54rem) {
    .row {
        flex-direction: column;
    }
}

.col {
    flex: 1;
    padding: 0 0.75rem;
}

select {
    background: #33333e;
    border: 0;
    border-radius: 0.25rem;
    color: #fff;
    font-size: 1rem;
    padding: 0.5rem;
    width: 100%;
}

.task-progress {
    background: #33333e;
    color: #fff;
    border-radius: 0.25rem;
    height: 1.5rem;
    margin: 0.5rem 0;
    overflow: hidden;
    width: 100%;
    position: relative;

    .task-progress-bar {
        background: #00af98;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        width: calc(var(--progress) * 1%);
    }

    &[data-state="finished"] {
        .task-progress-bar {
            background: #0059bf;
        }
    }

    &[data-state="error"] {
        .task-progress-bar {
            background: #bf0000;
        }
    }

    .task-progress-name {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        font-size: 0.75rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.task-result {
    max-width: 100%;
}

.task-col {
    display: flex;
    flex-direction: column;

    .task-list {
        flex: 1;
        overflow-y: auto;
    }
}

.float-right {
    float: right;
}